.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 1052px;
    margin-inline: 24px;
    padding-top: 92px;
    margin-bottom: 96px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    line-height: 21.13px;
    margin-top: 44px;
    margin-left: 26.52px;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    color: #000;
}

.header__links-list-item__no-marker {
    list-style: none;
}

.header__link_active {
    display: flex;
    gap: 32px;
    text-decoration: none;
    color: #000;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header__link {
    color: black;
    border: 1px;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    margin-left: auto;
    margin-right: 18px;
}

.address {
    justify-self: end;
    max-width: 240.52px;
    line-height: 24.3px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1%;
    margin-top: 5px;
    margin-right: 25.48px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: cover;
    width: 1100px;
    min-height: 757px;
}

.overlay {
    inset: 0;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    font-family: "Raleway", sans-serif;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 86px 50px;
}

.aligned-text {
    position: relative;
    text-align: relative;
    text-transform: uppercase;
}

.aligned-text_center {
    position: center;
    display: block;
    padding: 21px 0px 0px 29px;
    text-align: center;
    z-index: 2;
}

.aligned-text_right {
    display: block;
    margin-right: -50px;
    padding: 20px;
    text-align: right;
    z-index: 2;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 48px;
    margin-left: 52px;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 18.5px;
}

.cover__button {
    color: #fff;
    position: relative;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
    min-width: 256px;
    min-height: 51px;
    padding: 12px 32px 11px 31px;
}

.lots {
    margin-top: 180px;
}

.lots__heading {
    margin-left: 64px;
    margin-bottom: 27px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
}

.lots__look-more-link {
    display: block;
    margin-left: 64px;
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 1px;
}

.lots__card-list {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    gap: 25px;
    margin-left: 24px;
}

.lots__card-list-item {
    display: flex;
    width: 334px;
    position: relative;
    min-height: 596px;
}

.card-link {
   height: 100%;
   color: #fff;
   text-decoration: none;
}

.card_type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: solid;
    line-height: 26.4px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 1px;
    color: #fff;
    z-index: 1;
}

.card__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    z-index: 1;
}

.about {
    width: 1052px;
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 120px 24px 0px 24px;
}

.about__column-logotip {
    border-radius: 50%;
    background: black;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 47px;
}

.about-logotip {
    text-align: center;
    width: 148px;
    height: 114px;
    margin: 67px 50.52px 71px 46px;
}

.about__column-text {
    flex-grow: 1;
}

.about__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    color: #000;
    margin: 136px 0px 0px 23px;
}

.about__text {
    max-width: 687px;
    margin-top: 100px;
    margin-left: 23px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    width: 1000px;
    margin-top: 180px;
    margin-inline: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

.footer_navig {
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer_social {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.images {
    width: 48px;
    height: 48px;
}
